*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* nav{
    display: flex;
    list-style: none;
}

nav>li{
    padding: 0 1em;
} */

.menu-principal {
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 4rem;
    width: 250px;
    height: 100%;
    background-color: #333;
    overflow-x: hidden;
    transition: 0.5s;
    z-index: 2;
}

.menu-principal.hidden {
    left: -250px;
}

.menu-principal-btn {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 15px;
    font-size: 16px;
    z-index: 3;
}

.menu-principal-btn:hover {
    background-color: #444;
}

.menu-principal-link {
    display: block;
    color: #fff;
    text-align: left;
    text-decoration: none;
    font-size: 20px;
    padding: 20px;
}

.menu-principal-link:hover {
    background-color: #444;
}

.menu-principal-es-sub {
    /* padding: 20px 0px 20px 20px; */
    font-size: 16px;
    margin-left: 20px;
}

.item-menu-seleccionado {
    background-color: #444;
}

.header-seleccionado {
    background-color: #444;
}

.datos {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50px;
}

.datos>.tarjeta-actual {}

.parte-1 {
    display: flex;
    flex-direction: column;
    min-height: 20vh;
    align-items: center;
    justify-content: center;
}

.caracteres {
    text-align: center;
    font-size: 3rem;
}

.definicion>p {
    text-align: center;
}

.pinyin {
    text-align: center;
}

.input {
    width: 100%;
}

.inputUsuario {
    text-align: center;
    width: 100%;
    padding: 1em;
    font-size: 2rem;
}

.botones {
    display: flex;
    width: 100%;
    height: 50px;
}

.boton_no-se {
    width: 50%;
}

.boton_chequear {
    width: 50%;
}

.boton_siguiente {
    width: 100%;
}

.esconder_boton {
    display: none;
}